/* font-family: 'Cabin', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Quattrocento', serif;
font-family: 'Armata', sans-serif; */

h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif;
}

#nav, #nav2, #nav3 {
background-color: #9099a2;
}

body {
  min-height: 100%;
  font-family: 'Cabin', sans-serif;
  color: white;
  background-color: #6d7993;
}

#title {
  padding: 10px;
}

.footer {
  background-color: #9099a2;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

a {
  color: white;
}