/* font-family: 'Cabin', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Quattrocento', serif;
font-family: 'Armata', sans-serif; */

#home {
  padding: 20px;
}

#logo {
  width: 350px;
  padding-left: 10px;
}

#deez {
  margin: 0px;
  padding: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

#nav1, #nav2, #nav3 {
  background-color: #2c3840;
}

.top-bar, .top-bar ul {
  background-color: #2c3840;
}

a {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif !important;
}

body {
  min-height: 100%;
  font-family: 'Cabin', sans-serif;
}

#main {
  padding: 10px;
  background-color: lightgreen;
}

#pollsForm {
  padding: 10px;
}


.footer {
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3840;
}

.avatar {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* NO TOUCHY */
.pollOptions, .switch-paddle, .switch-paddle::after, .success, #time, #duration, #add, .createButton {
  border-radius: 5000px;
}

/* For star rating component */

.user-rating {
  direction: rtl;
  font-size: 45px;
  unicode-bidi: bidi-override;
  padding: 10px 30px;
  display: inline-block;
}
.user-rating input {
  opacity: 0;
  position: relative;
  left: -15px;
  z-index: 2;
  cursor: pointer;
}
.user-rating span.star:before {
  color: #777777;
  content:"ï€†";
  /*padding-right: 5px;*/
}
.user-rating span.star {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.user-rating span {
  margin-left: 0px;
}
.user-rating span.star:before {
  color: #777777;
  content:"\f006";
  /*padding-right: 5px;*/
}
.user-rating input:hover + span.star:before, .user-rating input:hover + span.star ~ span.star:before, .user-rating input:checked + span.star:before, .user-rating input:checked + span.star ~ span.star:before {
  color: #ffd100;
  content:"\f005";
}

.selected-rating{
  color: #ffd100;
  font-weight: bold;
  font-size: 3em;
}

/* Rounded Input Field */
.input-group-rounded{
    border-radius: 5000px 5000px;
    padding-left: 1rem;
  }


/* FOR HOMEPAGE HERO */


.hero-full-screen {
  height: 95vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat;
  background-size: cover;
  border-bottom: 1px solid #f6f6f6;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

#hpbutton1 { border-radius: 5000px 0px 0px 5000px; }
#hpbutton2 { border-radius: 0px 5000px 5000px 0px; }


#main-content-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.full-width-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("https://unsplash.it/2000/1200/?image=1011");
  background-position: center center;
}

.full-width-testimonial-icon .quote-path {
  fill: none;
  stroke: #ffae00;
  stroke-width: 2.5192;
  stroke-miterlimit: 10;
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}

.full-width-testimonial-section {
  padding-top: 2rem;
}

.full-width-testimonial-section .full-width-testimonial-text {
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}

@media print, screen and (min-width: 40em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print, screen and (min-width: 64em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 1.8em;
  }
  .middle-content-section h1 {
    color: black;
  }
}

@media screen and (min-width: 75em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}


.masonry-css {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media screen and (min-width: 25em) {
  .masonry-css {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media screen and (min-width: 37.5em) {
  .masonry-css {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media screen and (min-width: 50em) {
  .masonry-css {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media screen and (min-width: 68.75em) {
  .masonry-css {
    -webkit-column-count: 6;
            column-count: 6;
  }
}

.masonry-css-item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1rem;
}



/* HOMEPAGE TESTIMONIAL */

.full-width-testimonial-section .full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1.0em;
}

.full-width-testimonial-section .full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.full-width-testimonial-section .slick-slider {
  margin-bottom: 0px;
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: 2rem;
}

.full-width-testimonial-content {
  width: 100%;
}

.callout {
  transition: 0.3s;
}

.callout:hover {
  background-color: #3e8e41;
  color: white;
}


#commH1 {
  font-size: 48px;
  color: black;
}
/* #aboutCard {
  width: 300px;
} */

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .avatarContainer {
      text-align: left;
  }
  .expireLabel {
    text-align: left;
  }
}